#services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 25px;
}

#animals {
    border-radius: 40px;
}

@media only screen and (max-width:576px) {
    #services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}